.container,
.menu ul,
.acess
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a,button{
    cursor: pointer;
}

.menu ul a{
    list-style: none;
    margin: 10px;
    text-decoration: none;
    color: #000;
}

.acess div{
    margin: 10px;
}